{% extends 'lab1/base.html' %}

{% block content %}
    <a class="btn btn-default" href="{% url 'url_list' %}"><span class="glyphicon glyphicon-home"></span></a>
    <div class="url">
        <h1>{{ url.title }}</h1>
        <p>{{ url.originalURL|linebreaksbr }}</p>
		<p>{{ url.finalDestination|linebreaksbr }}</p>
		<p>{{ url.statusCode|linebreaksbr }}</p>
		<p>{{ url.datetime }}</p>
		<p>{{ url.uri }}</p>
		<p>{{ url.wayback}}</p>
		<p>{{ url.wayback_date}}</p>
		<p><a href="{{ url.archive_link}}">{{ url.archive_link }}</a></p>
    </div>
{% endblock %}
